<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mio.jrdv.ghfincas">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- Accessing camera hardware -->
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Enviar Email auto -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo7redondo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.JRTHEME" />
        <!-- android:theme="@style/AppTheme.Dark" -->

        <activity
            android:name=".SignupActivity"
            android:theme="@style/Theme.JRTHEME" />
        <!-- android:theme="@style/AppTheme.Dark" -->
        <activity
            android:name=".IncidenciaActivity"
            android:label="@string/title_activity_incidencia"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mio.jrdv.ghfincas.MainActivity" />
        </activity>
        <activity
            android:name=".CircularBarActivity"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".ListaProveedores"
            android:label="@string/title_activity_lista_proveedores"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mio.jrdv.ghfincas.MainActivity" />
        </activity>
        <activity
            android:name=".InicidenciaSinFotoActivity"
            android:label="@string/title_activity_inicidencia_sin_foto"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mio.jrdv.ghfincas.MainActivity" />
        </activity>
        <activity
            android:name=".ListaProveedoresFromWeb"
            android:label="@string/title_activity_lista_proveedores_from_web"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mio.jrdv.ghfincas.MainActivity" />
        </activity>
        <activity
            android:name=".ProvedorActivity"
            android:label="@string/title_activity_provedor"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mio.jrdv.ghfincas.MainActivity" />
        </activity>
        <activity
            android:name=".GHFincasActivity"
            android:label="@string/title_activity_ghfincas"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mio.jrdv.ghfincas.MainActivity" />
        </activity>
        <activity
            android:name=".IncidenciaGeneral"
            android:label="@string/title_activity_incidencia_general"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mio.jrdv.ghfincas.MainActivity" />
        </activity>
    </application>

</manifest>
